# Qdrant
QDRANT_HOST = 127.0.0.1
QDRANT_PORT = 6333
QDRANT_TIMEOUT = 6000


# Embedding models
DENSE_MODEL = intfloat/multilingual-e5-base
SPARSE_MODEL = Qdrant/bm25
RERANKER_MODEL = namdp-ptit/ViRanker


# Uncomment and complete if you want to use Ollama
# LLM_TYPE= ollama
# CHAT_MODEL = qwen2.5:7b


# Uncomment and complete if you want to use OpenAI
LLM_TYPE= openai
OPENAI_API_KEY= <Your API Key>
CHAT_MODEL= gpt-4o-mini


# Tavily API Key
TAVILY_API_KEY = <Your API Key>